---
import strings from '../../strings.mjs';

export interface Props {
    title: string;
    description: string;
    permalink: string;
}

const { title, description, permalink } = Astro.props;

const siteDomain = Astro.url.origin;

let canonical = Astro.url.toString();

if (canonical.endsWith('/')) {
    canonical = canonical.slice(0, -1);
}
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="canonical" href={canonical} />
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta name="author" content="Apify" />
<meta name="referrer" content="origin" />
<meta name="language" content="English" />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={strings.title} />
<meta property="og:author" content="Apify" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<meta property="article:author" content="Apify" />
