---
import { HEAD } from '../config/components';
import type { ISEOMetadata } from '../types/seo';

export interface Props extends ISEOMetadata {
    title: string;
    description: string;
    permalink: string;
    ogImage?: string;
}

const { title, description, permalink } = Astro.props;

let canonical = new URL(permalink).toString();
canonical = canonical.endsWith('/') ? canonical.slice(0, -1) : canonical;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="canonical" href={canonical} />

<title>{title}</title>

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta name="author" content={HEAD.META.AUTHOR} />
<meta name="referrer" content={HEAD.META.REFERRER} />
<meta name="language" content={HEAD.META.LANGUAGE} />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={title} />
<meta property="og:author" content={HEAD.META.AUTHOR} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={permalink} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<meta property="article:author" content={HEAD.META.AUTHOR} />

<link href="/favicon.png" rel="icon" media="(prefers-color-scheme: light)" />
<link href="/favicon-dark.png" rel="icon" media="(prefers-color-scheme: dark)" />

{HEAD.FONTS.PRECONNECT.map((url) => <link rel="preconnect" href={url} crossorigin />)}

<link href={`https://fonts.googleapis.com/css2?family=${HEAD.FONTS.FAMILIES.join('&family=')}`} rel="stylesheet" />

{
    import.meta.env.MODE === 'production' && (
        <script
            defer
            data-domain="whitepaper.actor"
            data-category="analytics"
            src="https://plausible.io/js/script.hash.js"
        />
    )
}
