---
import strings from '../../strings.mjs';
import type { SEOMetadata } from '../types';

export interface Props extends SEOMetadata {
    title: string;
    description: string;
    permalink: string;
    ogImage?: string;
}

const { title, description, permalink } = Astro.props;

let canonical = new URL(permalink).toString();
canonical = canonical.endsWith('/') ? canonical.slice(0, -1) : canonical;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="canonical" href={canonical} />
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta name="author" content="Apify" />
<meta name="referrer" content="origin" />
<meta name="language" content="English" />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={strings.title} />
<meta property="og:author" content="Apify" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<meta property="article:author" content="Apify" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500&display=swap" rel="stylesheet" />
