---
import { HEAD } from '../config/components';
import type { ISEOMetadata } from '../types/seo';

export interface Props extends ISEOMetadata {
    title: string;
    description: string;
    permalink: string;
    ogImage?: string;
    ogImageAlt?: string;
}

const { title, description, permalink, ogImage, ogImageAlt } = Astro.props;

const siteDomain = Astro.url.origin;
const ogImageURL = ogImage === '' ? `${siteDomain}/opengraph.png` : `${siteDomain}/opengraph/${ogImage}`;
const ogImageAltSafe = ogImageAlt === '' ? title : ogImageAlt;

let canonical = new URL(permalink).toString();
canonical = canonical.endsWith('/') ? canonical.slice(0, -1) : canonical;
---

<meta
    http-equiv="Content-Security-Policy"
    content="
    default-src 'self';
    script-src 'self' https://plausible.io https://unpkg.com 'unsafe-inline' 'unsafe-eval' blob:;
    style-src 'self' https://fonts.googleapis.com 'unsafe-inline';
    img-src 'self' data: blob:;
    font-src 'self' https://fonts.gstatic.com data:;
    connect-src 'self' https://plausible.io https://prod.spline.design https://www.gstatic.com https://unpkg.com;
    frame-ancestors 'none';
    base-uri 'self';
    form-action 'self';
    upgrade-insecure-requests;
"
/>
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="Permissions-Policy" content="camera=(), microphone=(), geolocation=()" />
<!-- The website does not use camera, microphone, or geolocation. These features are explicitly disabled for security. -->

<link rel="preconnect" href="https://plausible.io" />
<link rel="dns-prefetch" href="https://plausible.io" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="canonical" href={canonical} />
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />
<meta name="author" content={HEAD.META.AUTHOR} />
<meta name="referrer" content={HEAD.META.REFERRER} />
<meta name="language" content={HEAD.META.LANGUAGE} />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={title} />
<meta property="og:image" content={ogImageURL} />
<meta property="og:image:alt" content={ogImageAltSafe} />
<meta property="og:author" content={HEAD.META.AUTHOR} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageURL} />
<meta property="twitter:image:alt" content={ogImageAltSafe} />

<meta property="article:author" content={HEAD.META.AUTHOR} />

{HEAD.FONTS.PRECONNECT.map((url) => <link rel="preconnect" href={url} crossorigin />)}

<link href={`https://fonts.googleapis.com/css2?family=${HEAD.FONTS.FAMILIES.join('&family=')}`} rel="stylesheet" />

<script
    type="application/ld+json"
    set:html={JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebSite',
        name: title,
        description: description,
        url: siteDomain,
        author: {
            '@type': 'Organization',
            name: HEAD.META.AUTHOR,
            url: HEAD.META.URL
        },
        publisher: {
            '@type': 'Organization',
            name: 'Apify',
            logo: {
                '@type': 'ImageObject',
                url: ogImageURL
            }
        }
    })}
/>

{
    import.meta.env.MODE === 'production' && (
        <script
            defer
            data-domain="whitepaper.actor"
            data-category="analytics"
            src="https://plausible.io/js/script.hash.js"
        />
    )
}
